{% extends 'registration/login_base.html' %}

{% block content %}

    <div class="alert alert-success">
        <button class="close" data-close="alert"></button>
        <p>
            Your password has been set. You may go ahead and sign in now.
        </p>
    </div>
    <a href="{% url 'login' %}" class="btn emxn-orange btn-outline">Back to Login Page</a>

{% endblock %}