{% extends 'registration/login_base.html' %}

{% block content %}
    {% if validlink %}
        <!-- BEGIN REGISTRATION FORM -->
        {% if form.errors %}
            <div class="alert alert-danger">
                <button class="close" data-close="alert"></button>
                <span>
                {{ form.errors }}
                </span>
            </div>

        {% endif %}
        <form id="change_pass_form" method="post">
            {% csrf_token %}
            <h3 class="font-yellow-gold">Change password</h3>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Password</label>
                <input type="password" name="new_password1" required="" id="id_new_password1"
                       class="form-control placeholder-no-fix" autocomplete="off" id="register_password"
                       placeholder="Password"/>
            </div>


            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Re-type Your Password</label>
                <input type="password" name="new_password2" required="" id="id_new_password2"
                       class="form-control placeholder-no-fix" autocomplete="off"
                       placeholder="Re-type Your Password"/></div>

            <div class="form-actions">
                <a href="{% url 'login' %}" class="btn emxn-orange btn-outline">Back to Login Page</a>
                <button type="submit" id="register-submit-btn" class="btn emxn-orange uppercase pull-right">Submit
                </button>
            </div>
        </form>
        <!-- END REGISTRATION FORM -->
    {% else %}
        <div class="alert alert-danger">
            <button class="close" data-close="alert"></button>
            <p>
                The password reset link was invalid, possibly because it has already been used.
                Please request a new password reset.
            </p>
        </div>
        <a href="{% url 'login' %}" class="btn emxn-orange btn-outline">Back to Login Page</a>

    {% endif %}
{% endblock %}


{% block end_js_scripts %}
    <script type="text/javascript">


        $('#change_pass_form').validate({
            errorElement: 'span', //default input error message container
            errorClass: 'help-block', // default input error message class
            focusInvalid: false, // do not focus the last invalid input
            ignore: "",
            rules: {
                new_password1: {
                    required: true,
                    minlength: 8,
                    maxlength: 16,
                    pwcheck: true
                },
                new_password2: {
                    equalTo: "#id_new_password1",
                    minlength: 8,
                    maxlength: 16,
                    pwcheck: true
                }
            },

            invalidHandler: function (event, validator) { //display error alert on form submit

            },

            highlight: function (element) { // hightlight error inputs
                $(element)
                    .closest('.form-group').addClass('has-error'); // set error class to the control group
            },

            success: function (label) {
                label.closest('.form-group').removeClass('has-error');
                label.remove();
            },

            errorPlacement: function (error, element) {
                if (element.attr("name") == "tnc") { // insert checkbox errors after the container
                    error.insertAfter($('#register_tnc_error'));
                } else if (element.closest('.input-icon').size() === 1) {
                    error.insertAfter(element.closest('.input-icon'));
                } else {
                    error.insertAfter(element);
                }
            },

            submitHandler: function (form) {
                form[0].submit();
            }
        });


        $.validator.addMethod("pwcheck", function (value) {
            return /^[A-Za-z0-9\d=!\-@._*]*$/.test(value) // consists of only these
                && /[a-z]/.test(value) // has a lowercase letter
                && /[A-Z]/.test(value) // has a upper case letter
                && /\d/.test(value) // has a digit
        }, '<p><b>The password should meet some minimum requirements:</b></p> <ul>' +
            '<li>Your password can\'t be too similar to your other personal information</li> ' +
            '<li>Your password can\'t be a commonly used password</li> ' +
            '<li>Minimum length of 8 and max length of 16</li> ' +
            '<li>At least one lower-case character</li> ' +
            '<li>At least one upper-case character</li>' +
            '<li>At least one digit</li></ul>');

    </script>
{% endblock %}