{% extends 'dashboard/base.html' %}
{% load static %}

{% block title %}
    Categories
{% endblock %}

{% block content %}
    <!-- BEGIN PAGE HEADER-->

    <h1 class="page-title"> EMXN User Groups
        <small></small>
    </h1>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-users"></i>
                <a href="">Permissions</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <span>User Groups</span>
            </li>
        </ul>

    </div>
    <!-- END PAGE HEADER-->
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN PORTLET-->
            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-edit font-dark"></i>
                        <span class="caption-subject font-dark bold uppercase">Categories Datatble</span>
                    </div>
                    <div class="tools">
                        <a href="" class="collapse" data-original-title="" title=""> </a>
                        <a href="" class="remove" data-original-title="" title=""> </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-toolbar">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="btn-group">
                                    <button id="add_new" data-url="{% url 'analyzer:category_create' %}"
                                            data-modal="#general_modal" class="btn sbold green"> Add New
                                        <i class="fa fa-plus"></i>
                                    </button>

                                    <div class="btn-group">
                                        <button data-url="{% url 'analyzer:categories_remove' %}"
                                                data-set="#MainDatatable .checkboxes"
                                                id="remove_items"
                                                class="btn sbold red"> Remove
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <section id="no-more-tables">
                        <table id="MainDatatable"
                               class="table table-striped table-bordered table-hover table-checkable order-column dataTable no-footer">
                        </table>
                    </section>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block modals %}
    <!-- General Modal -->
    <div class="modal fade bs-modal-lg" id="general_modal" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            </div>
        </div>
    </div>

    <!-- Permission List Modal -->
    <div class="modal fade bs-modal-lg" id="general_modal" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            </div>
        </div>
    </div>

{% endblock %}



{% block CSS_PAGE_LEVEL_PLUGINS %}
    {% include 'plugins/simpledt_css_page_level_plugins.html' %}
{% endblock %}

{% block CSS_THEME_GLOBAL_STYLES %}
    {% include 'plugins/simpledt_css_theme_global_styles.html' %}
{% endblock %}

{% block JS_PAGE_LEVEL_PLUGINS %}
    {% include 'plugins/simpledt_js_page_level_plugins.html' %}
{% endblock %}


{% block JS_FINAL_SCRIPTS %}
    <script type="text/javascript">

        (function (window, $) {
            window.DjangoDataTables = window.DjangoDataTables || {};
            window.DjangoDataTables["datatable"] = $("#MainDatatable").DataTable({
                "serverSide": true,
                "processing": true,
                "ajax": {
                    "url": "{% url 'analyzer:categories_dt' %}",
                    "method": "GET",
                    "async": false,
                },
                "order": [[1, "desc"]],
                "columns": [
                    {
                        "name": "check",
                        "data": 0,
                        "orderable": false,
                        "searchable": false,
                        "title": "<label class=\"mt-checkbox mt-checkbox-single mt-checkbox-outline\"><input type=\"checkbox\" class=\"group-checkable\" data-set=\"#MainDatatable .checkboxes\" \/><span><\/span><\/label>"
                    },
                    {
                        "name": "title",
                        "data": 1,
                        "title": "Title",
                        "orderable": true,
                        "searchable": true
                    },
                    {
                        "name": "slug",
                        "data": 2,
                        "title": "Slug",
                        "orderable": true,
                        "searchable": true
                    },
                                        {
                        "name": "description",
                        "data": 3,
                        "title": "Description",
                        "orderable": false,
                        "searchable": false
                    },
                    {
                        "name": "actions",
                        "data": 4,
                        "orderable": false,
                        "searchable": false,
                        "title": "<i class='fa fa-gears'><\/i> Options"
                    }
                ]
            });

        })(window, jQuery);
    </script>
    <script src="{% static 'js/helper_components.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/common_dt.js' %}" type="text/javascript"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {

            var datatable = window.DjangoDataTables["datatable"];
            datatable.on('click', '.js-edit-group', HelperComponents.loadForm);
            datatable.on('click', '.js-permission-group', HelperComponents.loadForm);

            $(document).on('click', '#add_new', HelperComponents.loadForm);
            $(document).on('click', '#remove_items', HelperComponents.removeSetAsk);


            $('#general_modal').on('submit', '#js-group-update-form', HelperComponents.saveForm);
            $('#general_modal').on('submit', '#js-send-form', HelperComponents.saveForm);


        });


    </script>
{% endblock %}