{% load static %}

<script src="{% static 'assets/global/scripts/datatable.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/datatables/datatables.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js' %}"
        type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/bootstrap-sweetalert/sweetalert.min.js' %}"
        type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/jquery-lazy/jquery.lazy.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/fancybox/source/jquery.fancybox.pack.js' %}"
        type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js' %}"
        type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/bootstrap-modal/js/bootstrap-modalmanager.js' %}"
        type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/bootstrap-modal/js/bootstrap-modal.js' %}"
        type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/bootstrap-confirmation/bootstrap-confirmation.min.js' %}"
        type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/select2/js/select2.full.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/bootstrap-toastr/toastr.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/cubeportfolio/js/jquery.cubeportfolio.min.js' %}"
        type="text/javascript"></script>