{% load static %}

<link href="{% static 'assets/global/plugins/bootstrap-sweetalert/sweetalert.css' %}" rel="stylesheet"
      type="text/css"/>
    <style>
        img.lazy {
            width: 260px;
            min-height: 160px;
            display: block;

            /* optional way, set loading as background */
            background-image: url('{% static 'assets/global/img/loading-spinner-blue.gif' %}');
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: 100px;
        }
    </style>
<link href="{% static 'assets/global/plugins/fancybox/source/jquery.fancybox.css' %}" rel="stylesheet"
      type="text/css"/>
<link href="{% static 'assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css' %}" rel="stylesheet"
      type="text/css"/>
<link href="{% static 'assets/global/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css' %}" rel="stylesheet"
      type="text/css"/>
<link href="{% static 'assets/global/plugins/bootstrap-modal/css/bootstrap-modal.css' %}" rel="stylesheet"
      type="text/css"/>
<link href="{% static 'assets/global/plugins/select2/css/select2.min.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'assets/global/plugins/select2/css/select2-bootstrap.min.css' %}" rel="stylesheet"
      type="text/css"/>
<link href="{% static 'assets/global/plugins/bootstrap-toastr/toastr.min.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'assets/global/plugins/cubeportfolio/css/cubeportfolio.css' %}" rel="stylesheet"
      type="text/css"/>
<link href="{% static 'assets/pages/css/portfolio.min.css' %}" rel="stylesheet" type="text/css"/>