{% extends 'dashboard/base.html' %}
{% load static %}

{% block title %}
    Image Anlyzer | Dashboard
{% endblock %}

{% block content %}
    <!-- BEGIN PAGE HEADER-->

    <h1 class="page-title"> Image Anlyzer Dashboard
        <small></small>
    </h1>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'analyzer:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <span>Dashboard</span>
            </li>
        </ul>
        <div class="page-toolbar">
            <div class="btn-group pull-right">
                <button type="button" class="btn btn-fit-height blue dropdown-toggle" data-toggle="dropdown"
                        data-hover="dropdown" data-delay="1000" data-close-others="true"> Actions
                    <i class="fa fa-angle-down"></i>
                </button>
                <ul class="dropdown-menu pull-right" role="menu">
                    <li>
                        <a id="add_new" data-url="{% url 'analyzer:category_create' %}" data-modal="#general_modal">
                            <i class="fa fa-picture-o"></i> New Category</a>
                    </li>
                    <li>
                        <a id="add_new" data-url="{% url 'analyzer:image_create' %}" data-modal="#general_modal">
                            <i class="fa fa-upload"></i> Upload Image</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <!-- END PAGE HEADER-->
    <div class="row">
        <div class="col-md-12">
            <div class="note note-info">
                <h4 class="block">Hi
                    {% if user.get_full_name %}
                        {{ user.get_full_name }}
                    {% else %}
                        {{ user.get_username }}
                    {% endif %}!
                </h4>
                <p></p>
            </div>
        </div>
    </div>

    <div class="portfolio-content portfolio-1">
        <div class="categories_list"></div>
        <div class="images_list"></div>
    </div>

{% endblock %}

{% block modals %}
    <!-- General Modal -->
    <div id="general_modal" class="modal fade" data-backdrop="static" tabindex="-1" data-width="760">
        <div class="modal-content">

        </div>
    </div>


{% endblock %}

{% block CSS_PAGE_LEVEL_PLUGINS %}
    {% include 'plugins/fileupload_css_page_level_plugins.html' %}
{% endblock %}

{% block CSS_THEME_GLOBAL_STYLES %}
    {% include 'plugins/fileupload_css_theme_global_styles.html' %}
{% endblock %}

{% block JS_PAGE_LEVEL_PLUGINS %}
    {% include 'plugins/fileupload_js_page_level_plugins.html' %}
{% endblock %}

{% block JS_FINAL_SCRIPTS %}
    <script src="{% static 'js/dropdown_components.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/helper_components.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/home.js' %}" type="text/javascript"></script>
    <script type="text/javascript">
        (function (window, $) {
            window.DjangoDataTables = window.DjangoDataTables || {};

            current_page = 1;
            App.setAssetsPath('{% static 'assets/' %}');
            App.setGlobalImgPath('/global/img/');

            var loadImages = function (page) {
                $.ajax({
                    url: '{% url 'analyzer:image_list' %}',
                    type: 'GET',
                    dataType: 'html',
                    data: {
                        block: page
                    },
                    beforeSend: function () {
                        App.blockUI({
                            target: $('.portlet'),
                            animate: true,
                            overlayColor: 'none'
                        });
                    },
                    complete: function () {
                        App.unblockUI($('.portlet'));
                    },

                    success: function (data) {
                        $(".images_list").html(data);
                        HelperComponents.loadDashboardPortfolio();
                    },
                    error: function (data) {
                        HelperComponents.showAjaxError(data);
                    },
                });
            };
            var loadCtegories = function () {
                $.ajax({
                    url: '{% url 'analyzer:category_list' %}',
                    type: 'GET',
                    dataType: 'html',
                    beforeSend: function () {
                        App.blockUI({
                            target: $('.portlet'),
                            animate: true,
                            overlayColor: 'none'
                        });
                    },
                    complete: function () {
                        App.unblockUI($('.portlet'));
                    },

                    success: function (data) {
                        $(".categories_list").html(data);
                    },
                    error: function (data) {
                        console.log(data)
                        HelperComponents.showAjaxError(data);
                    },
                });
            };

            loadCtegories();
            loadImages(current_page);

            $(document).on('click', '#add_new', HelperComponents.loadForm);
            $(document).on('click', '#show_categories', HelperComponents.loadForm);
            $(document).on('click', '.go_to', function (e) {
                e.preventDefault();
                page = $(this).data('go_to_page');
                loadImages(page);
            });
            $('#general_modal').on('submit', '#js-send-form', function (e) {
                e.preventDefault();

                var form = $(this);
                var modal = $('#general_modal');
                if (typeof window.DjangoDataTables != 'undefined')
                    var datatable = window.DjangoDataTables["datatable"];

                formData = new FormData(form[0]);


                $.ajax({
                    url: form.attr("action"),
                    data: formData,
                    type: form.attr("method"),
                    dataType: 'json',
                    contentType: false,
                    processData: false,
                    complete: function () {
                        App.unblockUI(modal.find('.modal-content'));
                        $('.btn_confirm').prop('disabled', false);
                        $('.btn_cancel').show().prop('disabled', false);
                    },
                    beforeSend: function () {
                        App.blockUI({
                            target: modal.find('.modal-content'),
                            customEMX: true,
                            overlayColor: '#666'
                        });
                        $(".modal-footer .percent_progress").show();
                        $(" .percent_label").text(0 + '%');
                        $('.btn_confirm').prop('disabled', true);
                        $('.btn_cancel').prop('disabled', true).hide();
                    },
                    success: function (data) {
                        if (data.form_is_valid) {
                            modal.modal("hide");
                            if (typeof datatable != 'undefined')
                                datatable.draw(false);
                            loadCtegories();
                            loadImages(1);

                            swal({
                                title: data.title,
                                text: data.msg,
                                type: "success",
                                allowOutsideClick: true,
                                showConfirmButton: false,
                                showCancelButton: true,
                                confirmButtonClass: "",
                                cancelButtonClass: "btn-success",
                                closeOnConfirm: false,
                                closeOnCancel: true,
                                confirmButtonText: "",
                                cancelButtonText: "OK",
                            });
                        } else {


                            modal.find(".modal-content").html(data.html_form);
                            App.alert({
                                container: modal.find('.modal-body'),
                                place: "preppend",
                                type: "danger",
                                message: "Invalid data. Please correct it before submit.",
                                close: true,
                                reset: false,
                                focus: true,
                                closeInSeconds: 10,
                                icon: 'fa fa-exclamation-triangle'
                            });
                        }
                    },
                    error: function (data) {
                        showAjaxError(data, modal);
                    },
                    xhr: function () {
                        var jqXHR = null;
                        if (window.ActiveXObject) {
                            jqXHR = new window.ActiveXObject("Microsoft.XMLHTTP");
                        } else {
                            jqXHR = new window.XMLHttpRequest();
                        }
                        //Upload progress
                        jqXHR.upload.addEventListener("progress", function (evt) {
                            if (evt.lengthComputable) {
                                var percentComplete = Math.round((evt.loaded * 100) / evt.total);
                                $(".modal-footer .progress-bar").css('width', percentComplete + '%').attr('aria-valuenow', percentComplete);
                                console.log('Uploaded percent', percentComplete);
                                $(" .percent_label").text(percentComplete + '%');
                            }
                        }, false);
                        //Download progress
                        jqXHR.addEventListener("progress", function (evt) {
                            if (evt.lengthComputable) {
                                var percentComplete = Math.round((evt.loaded * 100) / evt.total);
                            }
                        }, false);
                        return jqXHR;
                    },
                });

                return false;
            });


            $(document).on('click', '.add_new_user', function (e) {
                e.preventDefault();

                var btn = $(this);
                var datatable = window.DjangoDataTables["CategoryDatatable"];
                var category_id = $(".categories-select2").find(':selected').val();
                var data = {
                    'category_id': category_id,
                    'csrfmiddlewaretoken': csrftoken
                };

                HelperComponents.addItemAJAX(category_id, btn, data, "Category", datatable);
                $(".categories-select2").val("").trigger("change");

                loadCtegories();
                loadImages(1);
                return false;
            });

            $(document).on('click', '.js-remove-category', function (e) {
                e.preventDefault();

                var btn = $(this);
                var datatable = window.DjangoDataTables["CategoryDatatable"];
                var category_id = btn.data('category-id');
                var data = {
                    'category_id': category_id,
                    'csrfmiddlewaretoken': csrftoken
                };

                HelperComponents.removeItemAJAX(category_id, btn, data, "Category", datatable);
                $(".categories-select2").val("").trigger("change");

                loadCtegories();
                loadImages(1);
                return false;
            });

        })(window, jQuery);
    </script>

{% endblock %}