<div class="portfolio-content">
    <div class="cbp-l-project-title">Prediction Results</div>


    <div class="cbp-l-project-container">
        <div class="cbp-l-project-details">
            <div class="cbp-l-project-details-title">
                <span>RESULTS</span>
            </div>
            <ul class="cbp-l-project-details-list">
                {% for cat,value in results.preds.items %}
                    {% if cat == results.max %}
                        <li class="font-yellow-gold bold" style="font-size: 16px;">
                            <strong class="font-yellow-gold bold">{{ cat.upper }}</strong>{{ value }} %
                        </li>
                    {% else %}
                        <li class="font-grey-cascade" style="font-size: 16px;">
                            <strong class="font-grey-cascade">{{ cat.upper }}</strong>{{ value }} %
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="cbp-l-project-desc">
            <div class="cbp-l-project-desc-title">
                <span>IMAGE</span>
            </div>
            <img class="img-responsive" src="{{ results.img.image.url }}"/>
        </div>

    </div>

    <br>
    <br>
    <br></div>