<!-- BEGIN SIDEBAR MENU -->
<!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
<!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
<!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
<!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
<!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
<!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
<ul class="page-sidebar-menu  page-header-fixed page-sidebar-menu-hover-submenu " data-keep-expanded="false"
    data-auto-scroll="true" data-slide-speed="200">
    <li class="nav-item start menu_start">
        <a href="{% url 'analyzer:home' %}" class="nav-link nav-toggle">
            <i class="icon-home"></i>
            <span class="title">Home</span>
            <span class="selected"></span>
            <span class="arrow open"></span>
        </a>
        <ul class="sub-menu">
            <li class="nav-item start {% if request.resolver_match.view_name == "analyzer:home" %}active open{% endif %}">
                <a href="{% url 'analyzer:home' %}" class="nav-link ">
                    <i class="icon-bar-chart"></i>
                    <span class="title">Dashboard</span>
                    <span class="selected"></span>
                </a>
            </li>
            <li class="nav-item start {% if request.resolver_match.view_name == "analyzer:categories" %}active open{% endif %}">
                <a href="{% url 'analyzer:categories' %}" class="nav-link ">
                    <i class="icon-picture"></i>
                    <span class="title">Categories</span>
                    <span class="selected"></span>
                </a>
            </li>
        </ul>
    </li>

</ul>
<!-- END SIDEBAR MENU -->