{% load widget_tweaks %}


<form method="POST" action="{{ request_path }}" id="js-send-form" enctype="multipart/form-data" novalidate>
    {% csrf_token %}

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title">{{ modal_title }}</h4>
    </div>
    <div class="modal-body">

        <div class="row">
            {% for field in form %}

                    <div class="col-lg-12">
                        <div class="form-group{% if field.errors %} has-error{% endif %} {{ field|field_type }} {{ field|widget_type }} {{ field.html_name }}">
                            <label for="{{ field.id_for_label }}"><b>{{ field.label }}</b></label>
                            {% render_field field class="form-control" %}
                            {% for error in field.errors %}
                                <p class="help-block">{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>

            {% endfor %}
        </div>
    </div>
    <div class="modal-footer">
        <div class="row percent_progress" style="display: none;">
            <div class="col-lg-10">
                <div class="progress progress-striped active">
                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="80"
                         aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                        <span class="sr-only"> 0%</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-2"><span class="badge label-primary percent_label"></span></div>
        </div>
        <button type="button" class="btn_cancel btn dark btn-outline" data-dismiss="modal">Close</button>
        <button type="submit" class="btn_confirm btn btn-primary"><i class="fas fa-save"></i> Save</button>
    </div>
</form>


