{% if object_list|length == 0 %}
    <div class="alert alert-info alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        <strong>Hey!</strong> There is no any Category. You can create the first one on the Actions menu button above.
    </div>
{% else %}
    <div id="js-image-filters" class="cbp-l-filters-button">
        <div data-filter="*" class="cbp-filter-item-active cbp-filter-item btn dark btn-outline uppercase"> All
            <div class="cbp-filter-counter"></div>
        </div>
        {% for category in object_list %}
            <div data-filter=".{{ category.slug }}"
                 class="cbp-filter-item btn dark btn-outline uppercase"> {{ category.title }}
                <div class="cbp-filter-counter"></div>
            </div>
        {% endfor %}
    </div>

{% endif %}