<form method="POST" action="{{ request_path }}" id="add_category_form" novalidate>
    {% csrf_token %}

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title">{{ modal_title }} | {{ object.title }}</h4>
    </div>
    <div class="modal-body">
        <div class="row">

            <div class="col-lg-9">
                <div class="form-group">
                    <select class="form-control categories-select2"></select>
                </div>
            </div>
            <div class="col-lg-3">
                <button class="btn btn-primary btn-block add_new_user"
                        data-url="{% url 'analyzer:image_category_add' object.id %}"> Include Category
                </button>
            </div>

            <div class="col-lg-12">
                <section class="adv-table " id="no-more-tables">
                    <table class="display table table-hover table-striped table-condensed cf"
                           id="CategoryDatatable" cellspacing="0" width="100%">
                    </table>
                </section>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn_cancel btn dark btn-outline" data-dismiss="modal">Close</button>
    </div>
</form>

<script type="text/javascript">

    (function (window, $) {


        var url = "{% url 'analyzer:category_ajax_list' %}";
        var placeholder = 'Select a Category';
        var element = ".categories-select2";
        var pk = 1;
        var parent = $("#add_category_form").closest(".modal");

        DropDownComponents.initDefaultAjaxDropDown(url, placeholder, element,pk,parent);




        window.DjangoDataTables["CategoryDatatable"] = $("#CategoryDatatable").DataTable({
            "serverSide": true,
            "processing": true,
            "bLengthChange": false,
            "ajax": {
                "url": "{% url 'analyzer:image_categories_dt' object.id %}",
                "method": "GET",
                "async": false,
            },
            "order": [[0, "asc"]],
            "columns": [
                {
                    "name": "title",
                    "data": 0,
                    "title": "Category",
                    "orderable": true,
                    "searchable": true
                },
                {
                    "name": "actions",
                    "data": 1,
                    "title": "",
                    "orderable": false,
                    "searchable": false
                },
            ]
        });


    })(window, jQuery);
</script>