<button href="javascript:;" class="btn btn-danger btn-xs pull-right js-remove-category" data-url="{% url 'analyzer:image_category_remove' image.id %}" data-category-id="{{ category.id }}" data-modal="">
    <i class="fa fa-trash"></i> Remove
</button>
