{% load static %}

{% if object_list|length == 0 %}
    <div class="alert alert-warning alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        <strong>Ops!</strong> There is no any images here. You can upload the first one on the Actions menu button
        above.
    </div>
{% endif %}

<div id="js-images" class="cbp">


    <div class="cbp-loadMore-block{{ page_obj.number }}">
        {% for image in object_list %}
            <div class="cbp-item {% for cat in image.categories.all %}{{ cat.slug }} {% endfor %}">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="{{ image.image.url }}" alt=""></div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">

                                <a href="{% url 'analyzer:predict_image' image.id %}"
                                   class="cbp-singlePage cbp-l-caption-buttonLeft btn blue uppercase uppercase"
                                   rel="nofollow" title="Anlyze it"><i class="fa fa-play-circle"></i> Predict
                                </a>

                                <a href="{{ image.image.url }}"
                                   class="cbp-lightbox cbp-l-caption-buttonRight btn blue uppercase uppercase"
                                   data-title="{{ image.title }}<br>{{ image.description }}" title="View Large"><i
                                        class="fa fa-expand"></i> View Large
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="cbp-l-grid-projects-title uppercase text-center uppercase text-center">{{ image.title }}</div>
                <div class="cbp-l-grid-projects-desc uppercase text-center uppercase text-center">{{ image.description }}</div>
                <div class="cbp-l-grid-projects-desc uppercase text-center uppercase text-center">
                    <a id="show_categories"
                       data-url="{% url 'analyzer:image_cat_update' image.id %}"
                       data-modal="#general_modal"
                       class="btn blue uppercase uppercase"
                       rel="nofollow"
                       title="Categories">
                        <i class="fa fa-picture-o"></i> Categories
                    </a>
                                        <a href="#"
                       class="btn red uppercase uppercase"
                       rel="nofollow"
                       title="Remove">
                        <i class="fa fa-trash"></i> Remove
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>

</div>


<div id="js-images-load-more" class="cbp-l-loadMore-button">
    {% if is_paginated %}
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li><a class="go_to" data-go_to_page="{{ page_obj.previous_page_number }}"
                       href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
            {% else %}
                <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in paginator.page_range %}
                {% if page_obj.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                    <li><a class="go_to" data-go_to_page="{{ i }}" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <li><a class="go_to" data-go_to_page="{{ page_obj.next_page_number }}"
                       href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
            {% else %}
                <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
        </ul>
    {% endif %}
</div>




